{{#if newComment}}
  <form>
    <div class="form-group">
      {{input value=user id='user' class='form-control' placeholder='Enter Name:'}}
    </div>
    <div class="form-group">
      {{textarea value=body id='body' class='form-control' placeholder='Enter Comment:'}}
    </div>
    <button {{action 'saveComment'}}>Save</button>
  </form>
{{else}}
 <button {{action 'newCommentForm'}}>Add Comment</button>
{{/if}}
