{{post.user}}
{{#each post.comments as |comment|}}
<p>
  {{comment.user}} - {{comment.createdAt}} - <a {{action 'deleteComment' comment}}>Delete</a>
</p>
<p>
{{comment.body}}
</p>
{{comment-update comment=comment updateComment='updateComment' post=post}}
{{/each}}
