{{#each post.comments as |comment|}}
<p>
  {{full-name comment.post.user}} - {{moment-from-now comment.createdAt}} - <a {{action 'deleteComment' comment}}>Delete</a>
</p>
<p>
{{comment.body}}
</p>
{{comment-update comment=comment updateComment='updateComment' post=post}}
{{/each}}
