{{#if newPost}}
  <form>
    <div class="form-group">
      {{input value=title id='title' class='form-control' placeholder='Enter Title:'}}
    </div>
    <div class="form-group">
      {{textarea value=body id='body' class='form-control' placeholder='Enter Post:'}}
    </div>
    <button {{action 'save'}}>Save</button>
  </form>
{{else}}
 <button {{action 'newPostForm'}}>Add Post</button>
{{/if}}
